@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

/*body {
	background-color: #DDDDDD;
	color: black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 17px;
	font-weight: 300;
	overflow-x: hidden;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;

}

ul { padding: 0; margin: 0; }
figure { margin: 0; }
p:last-child { margin-bottom: 0; }
a { color: #3f97c9; }
a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}



/* Navigation*/

.nav-slide {
	position: center;
	left: 0;
	right: 0;
	top: 0;
	z-index: 50;
	background: none;
}

.nav-slide nav { width: 100%; }

.nav-slide .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.nav-slide ul{
	list-style:none;
	margin: 0;
    padding: 0;
}

.nav-slide li { 
	display: inline-block;
	float: right;
	width: auto;	
}

.navi { 
	text-align: center;	
	 }

.nav-bg {
	/*display: -ms-flexbox;/*定义块级flexbox容器*/
	/*
	-ms-flex-direction:row;/*定义伸缩项目在主轴的排列方向*/
	/*-ms-flex-align: center;/*伸缩项目的外边距盒在该行的侧轴上居中放置。*/
	/*    align-items: center;
	-ms-flex-pack: justify;/*伸缩项目会平均地分布在行里。*/
	/*    justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	overflow: auto;/*可以直接控制伸缩项目是否隐藏、裁剪或者出现滚动条。*/
	position: center;
  	justify-content: flex-end;
  	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(255,255,255,0.7);
}

.nav-bg a{
	text-align: center;
}

.navbar-nav .nav-cube { float: none; }

.navbar-nav .nav-cube+.nav-cube { 
	margin-left: 0; 
	margin-right: 0；
	}


.logo { 
	font-size: 3rem;
	padding: 10px;
}

.nav-slide a.nav-brand {
	font-size: 2.5rem;
	padding-top: 10px;
	padding-bottom: 0;
	
	margin-bottom: 10px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	width: auto;
}

.nav-slide a { text-transform: capitalize; }/*大写显示的字母*/

.nav-slide a,
.navbar-nav .nav-link {
	background-color: transparent;
	color: black;
    display: table-cell;/*此元素会作为一个表格单元格显示*/
    font-weight: 400;
    font-size: 1.2rem;
	vertical-align: middle;
    width: 130px; 
}


.navi {
		position: static;
		height: auto !important;		
	}

/*.nav-slide li:nth-of-type(1) { background-color: rgba(56, 182, 230, 0.62); }*//*li:nth-of-type(1)规定属于其父元素的第1个li元素的每个li.*/
/*.nav-slide li:nth-of-type(2) { background-color: rgba(237, 84, 76,  0.62); }*/
.nav-slide li:nth-of-type(2) { background-color: rgba(234, 163, 25, 0.62); }
.nav-slide li:nth-of-type(1) { background-color: rgba(22, 181, 163, 0.62); }
.nav-slide li:nth-of-type(3) { background-color: rgba(68, 127, 202, 0.62); }


.nav-slide .nav-cube.selected .nav-link,
.nav-slide .nav-link:hover,
.nav-slide .nav-link:focus {
	color: #ffffff;
}

.nav-slide .nav-cube:nth-of-type(2).selected .nav-link,
.nav-slide .nav-cube:nth-of-type(2) .nav-link:hover,
.nav-slide .nav-cube:nth-of-type(2) .nav-link:focus {
	cursor: pointer;	
	background-color: #eaa319;	
}

.nav-slide .nav-cube:nth-of-type(1).selected .nav-link,
.nav-slide .nav-cube:nth-of-type(1) .nav-link:hover,
.nav-slide .nav-cube:nth-of-type(1) .nav-link:focus {
	cursor: pointer;
	background-color: #16b5a3;
}

.nav-slide .nav-cube:nth-of-type(3).selected .nav-link,
.nav-slide .nav-cube:nth-of-type(3) .nav-link:hover,
.nav-slide .nav-cube:nth-of-type(3) .nav-link:focus {
	cursor: pointer;
	background-color: #447fca;		
}


/*index*/
h1 {
  margin: 40px 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.tada{
	text-align: center;
}

.entrance{
	text-align: center;
	height: 100%;
}

.Start{
	font-size: 1.8rem;
	text-align: center;
}


/* Footer */

.footer-icon-link {
	background-color: white;
    color: black;
    display: inline-block;
    width: 46px;
    height: 46px;
    text-align: center;
    padding-top: 10px;
    margin-right: 10px;
}

.footer-icon-link:hover {
	background-color: black;
	color: white;
}

.footer-icon-link:last-child { margin-right: 0; }

.footer-container {
	position: relative;
	margin-top: 20px;
	bottom: 0;
	left: 0;	
}

.footer-icons-container { 
	padding-top: 10px; 
	margin-bottom: 30px; 
	padding-bottom: 30px;
 }

.footer-school {
	background-color: rgba(0, 0, 0, 0.2);
	color: black;
    font-size: 1.1rem;
    font-weight: 400;
	text-align: center;
    padding-top: 30px;
    width: 100%;
}

.footer-school a {
	color: black;
}

.cd-hero-slider p:last-child { margin-bottom: 0; }




/*Animation*/
@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -7px, 0);
  }

  90% {
    transform: translate3d(0,-3px,0);
  }
}

.logo:hover {
  animation-name: bounce;
  animation-duration: 1.3s;
  transform-origin: center bottom;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.06, 1.06, 1.06);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.title:hover {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}


.shake {
  animation-name: shake;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada:hover {
  animation-name: tada;
  animation-duration: 1s;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.ToggleButton:hover {
  animation-name: rubberBand;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}


.Start:hover {
  animation-name: shake;
  animation-duration: 1.3s;
}

/* Media Queries */
@media only screen and (max-width: 768px){
	.logo{size: 70%}
	.navi{
		size:70%;
		font-size: 1.5rem;}
	h1{font-size: 1.2rem;}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

 	h1{font-size: 2rem;}

}

@media only screen and (min-width: 1024px) {

 	h1{font-size: 2rem;}

}
